There are 3 Example
<a [routerLink]="'/chart'">Chart Canvas JS</a> &nbsp; &nbsp; <a [routerLink]="'/chart/highchart'">Chart High Chart</a> &nbsp; &nbsp; <a [routerLink]="'/chart/chartjs'">Chart ChartJS</a>
<router-outlet></router-outlet>
