<h3>ChartJS</h3>
<p>
    npm install --save chart.js <br>
    npm install --save ng2-charts <br>
    https://valor-software.com/ng2-charts/
</p>

<button (click)="AddData()">Add data?</button>
<button (click)="ExportAsPNG()">Download</button>

<canvas
  baseChart
  class="chart"
  [id]="'line'"
  [data]="lineChartData"
  [options]="lineChartOptions"
  [type]="lineChartType"
  [legend]="true"
  (chartClick)="clickChart($event)"
></canvas>

<canvas
  baseChart
  class="chart"
  [id]="'bar'"
  [data]="lineChartData"
  [options]="GetOptions('abc')"
  [type]="'bar'"
  [legend]="true"
  [plugins]="GetPlugins()"
></canvas>

<pre>
(chartHover)="chartHovered($event)"
(chartClick)="chartClicked($event)"
</pre>