<h3>Data Chart Column</h3>
<p>This only for CanvasJS</p>
<div #chart>
<canvasjs-chart [options]="chartOptionsColumn" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>  
<canvasjs-chart [options]="chartOptionsLine" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>  
</div>