<h3>This is Highcharts</h3>
<p>Sadly this license of High Chart isn't free for comercial licenses... :/</p>
<a href="https://www.highcharts.com/forum/viewtopic.php?t=41138">See More</a>
<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" style="height: 300px; display: block;">
</highcharts-chart>
